.testimonials {
    display: flex;
    flex-direction: column;
    gap: var(--subsection-distance-gap);
    overflow: hidden;
}

.testimonials__carousel__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem;
    padding-right: var(--grid-gap);
    align-items: center;
    scroll-snap-type: x mandatory;

    img {
        margin-left: var(--grid-gap);
        width: calc(100% - var(--grid-margin) * 2);
        flex: 0 0 calc(100% - var(--grid-margin) * 2);
        scroll-snap-align: center;

        &:first-child {
            margin-left: var(--grid-margin);
        }

        &:last-child {
            margin-right: var(--grid-margin);
        }
    }
}

.books,
.books__list {
    display: flex;
    flex-direction: column;
    gap: var(--subsection-distance-gap);
}

.books__card {
    text-align: center;
}

.books__card__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.books__card__ctas {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.btn--ghost {
    color: var(--primary-color);
    border: none;
    background-color: transparent;
}

.books__card__price {
    font-size: 2rem;
    font-weight: 900;
}

.carousel-indicators {
    display: none;
}

.news {
    background-color: var(--primary-color);
    background-image: url(../images/bg-news-mob.jpg);
    background-position: center;
    background-size: cover;
    padding: var(--grid-margin);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: var(--section-distance-top);
    align-items: stretch;
    position: relative;
}

.news__content {
    display: flex;

    .btn {
        margin-left: auto;
    }

    .news__whatsapp {
        margin-right: var(--grid-margin);
    }
}

#channels {
    transform: translateY(calc(var(--section-distance-top) * -1.5));

}

/* .news__seta {
    display: none;
} */

.books-others {
    display: flex;
    flex-direction: column;
    gap: var(--subsection-distance-gap)
}

.books-others__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem;
    padding-right: var(--grid-gap);
    scroll-snap-type: x mandatory;
}

.books-others__card {
    margin-left: var(--grid-gap);
    width: calc(100% - var(--grid-margin) * 2);
    flex: 0 0 calc(100% - var(--grid-margin) * 2);
    scroll-snap-align: center;

    display: flex;
    gap: var(--grid-gap);

    &:first-child {
        margin-left: var(--grid-margin);
    }

    &:last-child {
        margin-right: var(--grid-margin);
    }
}

.books-others__card__img {
    width: 32%;
}

.books-others__card__content {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    text-align: left;

    .btn {
        margin-top: auto;
        align-self: start;
    }

    .h3 {
        text-align: left;
    }
}


.footer {
    background-color: #070608;
    text-align: center;
    padding-top: var(--section-distance-top);
    margin-top: var(--section-distance-top);
    padding-bottom: var(--section-distance-top);

    .container {
        display: flex;
        flex-direction: column;
        gap: var(--grid-margin);
        align-items: center;
    }

    p {
        font-size: .9rem;
    }
}

.footer__logo {
    max-width: 7.5rem;
}

.footer__socialLinks {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0;
    /* justify-content: space-between; */
    /* align-self: stretch; */
    /* margin-top: 5rem; */
    /* margin-bottom: 7rem; */
}

.footer__socialLinks li a {
    display: flex;
    align-items: center;
    gap: .75rem;
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}

.footer__socialLinks img {
    width: 1.75rem;
    height: auto;
}

/* --- Link de apoio --- */
.footer__supportLink {
    margin-top: 2rem;
    font-size: 1.125rem;
    color: white;
    text-decoration: underline;
}

@media screen and (width > 64em) {

    .testimonials__carousel__wrapper img {
        flex: auto;
        max-width: 26.25rem;
    }

    .testimonials__carousel {
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 1rem;
            width: 9rem;
            pointer-events: none;
            z-index: 2;

        }

        &::before {
            left: 0;
            background-image: linear-gradient(to right, var(--page-bg) var(--grid-margin), #0000);
        }

        &::after {
            right: 0;
            background-image: linear-gradient(to left, var(--page-bg) var(--grid-margin), #0000);
        }
    }


    .books__card {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--grid-gap);
        text-align: left;
    }

    .books__card__img {
        grid-column: 1 / 3;
        width: 100%;
    }

    .books__card__content {
        grid-column: 3 / -1;
        text-align: left;

        .h3 {
            text-align: inherit;
        }
    }

    .books__card:nth-child(odd) .books__card__img {
        grid-column: 7 / -1;
        order: 2;
    }

    .books__card:nth-child(odd) .books__card__content {
        grid-column: 1 / 7;
        text-align: right;
    }

    .books__card__ctas {
        flex-direction: row;
    }

    .books__card:nth-child(odd) .books__card__ctas {
        justify-content: end;
    }

    .news {
        background-image: url(../images/bg-news-desktop.jpg);
    }

    .news__content {
        gap: var(--grid-gap);
        align-items: center;

        text-align: right;
    }

    .news_icon_btn {
        display: flex;
        align-items: center;
        gap: calc(var(--grid-gap) / 2);
    }

    #channels {
        transform: translateY(-15rem);
        position: absolute;
        top: 0;
        left: 0;
    }

    .books-others__card {
        align-items: start;
        padding-right: var(--grid-margin);
    }

    .books-others__card__img {
        width: auto;
    }

    .books__card__description {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;

    }


    .books-others__card,
    .books-others__card:first-child {
        margin: 0;
        padding-left: var(--grid-margin);
        padding-right: 0;
    }

    .books-others__card {
        scroll-snap-align: start;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--grid-gap);
    }

    .books-others__card__img {
        grid-column: 1 / 3;
        width: 100%;
    }

    .books-others__card__content {
        grid-column: 3 / -2;
    }


    .books-others__wrapper {
        padding-right: 0;
    }

    .footer {
        flex-direction: row;
        display: flex;
    }

    .footer .container {
        /* width: 36.26%; */
        text-align: left;
        text-wrap: balance;
        gap: .25rem;
        align-items: start;
        flex-grow: 1;

        p {
            font-size: 1.25rem;
        }

    }

    .footer__socialLinks {
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;

        li {
            /* width: 2.25rem; */

            a {
                font-size: 1.125rem;
            }
        }
    }

    .footer__supportLink {
        margin-top: 3.9rem;
        align-self: flex-end;
        /* ⬅ alinha à direita no desktop */
    }
}

@media screen and (width > 90em) {


    .books__card {
        grid-template-columns: repeat(12, 1fr);
    }

    .books__card__img {
        grid-column: 3 / 5;
        width: 100%;
    }

    .books__card__content {
        grid-column: 5 / -2;
    }

    .books__card:nth-child(odd) {
        .books__card__img {
            grid-column: 9 / -3;
        }

        .books__card__content {
            grid-column: 2 / 9;
        }
    }

    .news {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &>* {
            grid-column: 2 / -2;
        }
    }

    .books-others__card {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .books-others__card__img {
        grid-column: 2 / 4;
    }

    .books-others__card__content {
        grid-column: 4 / -2;
    }

    .footer .container {
        width: 32.31%;
    }

    .footer__logo {
        max-width: 7.5rem;
    }

    .footer__socialLinks {
        justify-content: start;
        gap: var(--grid-gap);

        img {
            max-width: 1.5rem;
        }

    }

    @keyframes scrollLoop {
        from {
            transform: translateX(0);
        }

        to {
            /* transform: translateX(-2640px);
            transform: translateX(calc(-440px * 6));
            transform: translateX(calc((var(--w) + var(--grid-gap)) * -6)); */
            transform: translateX(calc((var(--w) + var(--grid-gap)) * var(--qtd) * -1));
        }

    }

    .js-enabled.testimonials__carousel__wrapper {
        --w: 26.25em;
        overflow: hidden;
        animation: scrollLoop calc(var(--qtd) * 4s) linear infinite;
        width: max-content;
        will-change: transform;

        img {
            margin-left: var(--grid-gap);
            width: var(--w);
            flex-shrink: 0;
        }

        &:hover,
        &:focus-within {
            animation-play-state: paused;
        }
    }

    .books-others__carousel {
        position: relative;
    }

    .js {
        .books-others__wrapper {
            overflow: hidden;
            --currentIndex: 0;
        }

        .books-others__card {
            transition: transform .3s ease-in-out;
            transform: translateX(calc(var(--currentIndex) * -100%));
        }
    }

    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 1;
    }

    .prev {
        left: var(--grid-margin);
    }

    .next {
        right: var(--grid-margin);

        img {
            transform: scaleX(-1);
        }
    }

    .carousel-indicators {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 2rem;
    }

    .indicator {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #fff8;
        cursor: pointer;
    }

    .indicator.active {
        background-color: #fff;
    }


}

html:has(dialog[open]) {
    overflow: hidden;
}

html {
    scrollbar-gutter: stable;
}

.cupom-dialog::backdrop {
    background: var(--page-bg);
    backdrop-filter: blur(2px);
    opacity: .8;
}

.cupom-dialog a {
    text-decoration: underline;
    color: #ff5252;
}

.cupom-dialog {
    width: 90%;
    max-width: 860px;
    background: var(--page-bg);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cupom-dialog h3 {
    margin-top: 0;
    color: #ff5252;
    text-align: center;
    font-size: 1.5em;
}

.cupom-dialog img {
    margin-top: var(--grid-gap);
    display: block;
    width: 100%;
}

.cupom-dialog p {
    line-height: 1.5;
}

.cupom-dialog .alerta {
    background: #2b2b2b;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    color: #ffc107;
    font-weight: 500;
}

.cupom-dialog .nao-mostrar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: #ccc;
}

.cupom-dialog .acoes {
    margin-top: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cupom-dialog .continuar {
    background: var(--primary-color);
    border: none;
    color: var(--text-color);
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.cupom-dialog .continuar:hover {
    background: #ff5252;
}